html {
    font-family: 'Roboto', sans-serif';
}

body {
    width: 800px;
    margin: 0 auto;
    background: rgb(29, 29, 29);
}

.news {
    background: rgb(39, 39, 39);
    border: 1px solid hotpink;
    padding: 10px;
    box-shadow: 3px 4px hotpink;
    margin: 15px;
    color: blanchedalmond;
}

h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
    color: honeydew;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: hotpink;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
    color: hotpink;
}

header h1 {
    font-family: 'Alata', sans-serif;
}

section p {
    margin: 5px 0;;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}